*{
    padding: 0px;
    margin: 0px;
}
.main{
    width: 540px;
    border:1px solid #ccc;
    margin: 50px auto;
    padding-top: 80px;
    padding-bottom: 80px;
    border-radius: 10px;
    box-shadow: #cccccc 0px 0px 3px;


}
.wrap{
    border-bottom: 1px solid #ccc;
    width: 60%;
    padding: 20px;
    margin: auto;
    -webkit-box-shadow: 10px;
    -moz-box-shadow: 10px;
    background-color:transparent;
    color:#0a8cd2;
    font-family: Arial;
    font-size: large;
}
.wrap:hover{
    border-bottom: 1px solid #ccc;
    width: 60%;
    padding: 20px;
    margin: auto  20%;
    -webkit-box-shadow: 10px;
    -moz-box-shadow: 10px;
    background-color:#6aa84f;
    border-radius: 10px;
    color: white;
    font-family: Arial;
    font-size: large;
}



